<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  

    <div class="container">
        <h1>Potato Diseases Classfication</h1>
            <img src="image.jpg" alt="Uploaded Image">

        <form action="http://localhost:8000/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>
